@import "../mixin";
@import "../color";
.container {
  margin: 50px 10px;
  text-align: center;
  h2{
    margin: 20px 0
  }
  .productConiatner {
    @include flexStyle(center, center);
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .productConiatner{
    flex-wrap: wrap;
  }
}
