$primaryColor: #4b4a4a;
$primaryHoverColor:black;
$primaryBgColor: white;
$btnHoverbgColor: #b6713e;
$btnHoverColor:white;
$btnBgColor: #ecdec1;
$btnColor: black;
$cardBtnColor: #f5f5f5;
$borderColor: #e5e5e5;
$badgeBgColor: #b6713e;
$badgeColor: white;
$sliderDotsColor:#b6713e;
$sliderDotsBgColor:white;
$sliderBgColor:#f0eef2;
$animationBgColor:#fcf7ee;
$linkHoverColor: #b6713e;
$footerBgColor:#fcf7ee